openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
  title: Elite API
  version: 1.0.0
  description: |
    ATM-monitoring API for Providus Bank (Unet System Tech Ltd). Canonical contract, together with
    docs/API_CONTRACT.md — change both first, then the code. The mobile project keeps synced copies.

    Every response is an envelope: `{success: true, data, meta?}` or `{success: false, error: {code, message, details?}}`.
    Clients send `X-App-Version` and `X-Platform` on every request. Timestamps are ISO 8601 with offset
    (Africa/Lagos); dates are YYYY-MM-DD; percentages are 0–100 with 2 decimals; unknown values are null.
servers:
  - url: https://elite.unetapps.com/mobile/api/v1
    description: Staging (mkcert certificate; see API_CONTRACT §0)
  - url: http://localhost:8080/api/v1
    description: Local
security:
  - bearerAuth: []

tags:
  - name: Platform
  - name: Auth
  - name: Reference
  - name: Dashboard
  - name: Terminals
  - name: Performance
  - name: Audit
  - name: Notifications

paths:
  /health:
    get:
      tags: [Platform]
      summary: Liveness and database check
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503': { $ref: '#/components/responses/Error' }

  /config:
    get:
      tags: [Platform]
      summary: Public app configuration
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '500': { $ref: '#/components/responses/Error' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Log in (database first, then password — see API_CONTRACT §3)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Logged in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429':
          description: Too many failed attempts
          headers:
            Retry-After:
              schema: { type: integer }
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503': { $ref: '#/components/responses/Error' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke the current token
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NullResponse'
        '401': { $ref: '#/components/responses/Error' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Validate the stored token
      responses:
        '200':
          description: Current session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeResponse'
        '401': { $ref: '#/components/responses/Error' }
        '426': { $ref: '#/components/responses/Error' }

  /regions:
    get:
      tags: [Reference]
      summary: Regions inside the caller's scope ("All" first)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
        '401': { $ref: '#/components/responses/Error' }

  /filters:
    get:
      tags: [Reference]
      summary: Report filters
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiltersResponse'
        '401': { $ref: '#/components/responses/Error' }

  /dashboard/summary:
    get:
      tags: [Dashboard]
      summary: All dashboard counts and percentages (one query)
      parameters:
        - $ref: '#/components/parameters/region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /terminals:
    get:
      tags: [Terminals]
      summary: Monitored terminals (filters, facets, search, sort, paging)
      parameters: &listParams
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/region'
        - { name: 'state[]', in: query, schema: { type: array, items: { type: string, maxLength: 200 }, maxItems: 50 }, style: form, explode: true }
        - { name: 'brand[]', in: query, schema: { type: array, items: { type: string, maxLength: 100 }, maxItems: 50 }, style: form, explode: true }
        - { name: 'location_type[]', in: query, schema: { type: array, items: { type: string, maxLength: 200 }, maxItems: 50 }, style: form, explode: true }
        - { name: 'status[]', in: query, schema: { type: array, items: { $ref: '#/components/schemas/TerminalStatus' }, maxItems: 5 }, style: form, explode: true }
        - { name: search, in: query, description: 'terminal_id, location, state, region, brand, sol_id (contains, case-insensitive)', schema: { type: string, maxLength: 100 } }
        - { name: min_amount, in: query, schema: { type: integer } }
        - { name: max_amount, in: query, schema: { type: integer } }
        - { name: idle_hours, in: query, description: 'last transaction older than N hours', schema: { type: integer, minimum: 1, maximum: 87600 } }
        - { name: sort, in: query, schema: { type: string, enum: [terminal_id, location, amount, last_txn_at, status], default: terminal_id } }
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - { name: include, in: query, schema: { type: string, enum: [facets] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalListResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /terminals/export:
    get:
      tags: [Terminals]
      summary: CSV export (same params as the list, no paging, max 10,000 rows)
      parameters: *listParams
      responses:
        '200':
          description: CSV file (UTF-8 with BOM)
          headers:
            X-Total-Count: { schema: { type: integer } }
            X-Export-Truncated: { schema: { type: string, enum: ['true', 'false'] } }
          content:
            text/csv:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /terminals/of-interest:
    get:
      tags: [Terminals]
      summary: Terminals flagged "of interest" (filter ignored)
      parameters: *listParams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalListResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /terminals/backed-out:
    get:
      tags: [Terminals]
      summary: Backed-out terminals (allowed = no) with duration
      parameters: *listParams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackedOutListResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /terminals/{terminal_id}:
    get:
      tags: [Terminals]
      summary: One terminal + today's performance (404 if missing, not monitored or out of scope)
      parameters:
        - $ref: '#/components/parameters/terminalId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminalDetailResponse'
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }

  /terminals/{terminal_id}/performance:
    get:
      tags: [Performance]
      summary: Daily performance for one terminal (range ≤ 31 days, to ≤ today)
      parameters:
        - $ref: '#/components/parameters/terminalId'
        - { name: from, in: query, required: true, schema: { type: string, format: date } }
        - { name: to, in: query, required: true, schema: { type: string, format: date } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceReportResponse'
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /performance/realtime:
    get:
      tags: [Performance]
      summary: Every terminal's performance for one day (one grouped query), worst first by default
      parameters:
        - { name: date, in: query, description: 'default today, at most 31 days back', schema: { type: string, format: date } }
        - $ref: '#/components/parameters/region'
        - { name: search, in: query, schema: { type: string, maxLength: 100 } }
        - { name: sort, in: query, schema: { type: string, enum: [uptime, downtime, terminal_id], default: uptime } }
        - $ref: '#/components/parameters/order'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /audit:
    post:
      tags: [Audit]
      summary: Record an audit entry (user and IP from the session)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditRequest'
      responses:
        '204': { description: Recorded }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /devices:
    post:
      tags: [Notifications]
      summary: Register (upsert) this phone's push token — on every login and token refresh
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
      responses:
        '200':
          description: Registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '400': { $ref: '#/components/responses/Error' }
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /devices/{token}:
    delete:
      tags: [Notifications]
      summary: Forget this phone (on logout). Idempotent; another user's device → 404
      parameters:
        - $ref: '#/components/parameters/pushToken'
      responses:
        '204': { description: Removed }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }

  /devices/{token}/preferences:
    put:
      tags: [Notifications]
      summary: Change alert preferences for this phone (partial update)
      parameters:
        - $ref: '#/components/parameters/pushToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferencesInput'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
        '401': { $ref: '#/components/responses/Error' }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /notifications:
    get:
      tags: [Notifications]
      summary: The caller's notifications, newest first
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationsResponse'
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Opaque 256-bit token from POST /auth/login (12 h absolute, 60 min idle).

  parameters:
    region:
      name: region
      in: query
      description: 'A value from GET /regions; "All" or absent = the whole scope; outside the scope → 403 FORBIDDEN_SCOPE'
      schema: { type: string, maxLength: 300 }
    filter:
      name: filter
      in: query
      schema: { $ref: '#/components/schemas/FilterKey' }
    order:
      name: order
      in: query
      schema: { type: string, enum: [asc, desc], default: asc }
    page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    perPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    terminalId:
      name: terminal_id
      in: path
      required: true
      schema: { type: string, maxLength: 50 }
    pushToken:
      name: token
      in: path
      required: true
      description: The FCM registration token (URL-encoded)
      schema: { type: string, minLength: 16, maxLength: 4000 }

  responses:
    Error:
      description: Error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ----- envelopes -----
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [success, error]
      properties:
        success: { const: false }
        error:
          type: object
          additionalProperties: false
          required: [code, message]
          properties:
            code:
              type: string
              enum: [BAD_REQUEST, UNAUTHENTICATED, SESSION_EXPIRED, INVALID_CREDENTIALS, ACCOUNT_NOT_CREATED,
                     ACCOUNT_NOT_APPROVED, ACCOUNT_LOCKED, FORBIDDEN_SCOPE, NOT_FOUND, VALIDATION_FAILED,
                     UPGRADE_REQUIRED, RATE_LIMITED, SERVER_ERROR, SERVICE_UNAVAILABLE]
            message: { type: string }
            details:
              type: object
              additionalProperties:
                type: array
                items: { type: string }

    NullResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data: { type: 'null' }

    PageMeta:
      type: object
      required: [page, per_page, total, total_pages]
      properties:
        page: { type: integer, minimum: 1 }
        per_page: { type: integer, minimum: 1 }
        total: { type: integer, minimum: 0 }
        total_pages: { type: integer, minimum: 0 }

    # ----- platform -----
    HealthResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [status, version]
          properties:
            status: { const: ok }
            version: { type: string }

    AmountRange:
      type: object
      additionalProperties: false
      required: [min, max]
      properties:
        min: { type: integer }
        max: { type: integer }

    ConfigResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [min_app_version, latest_app_version, support, cash_thresholds, idle_days, performance_report_max_days, server_time]
          properties:
            min_app_version: { type: string, pattern: '^\d+\.\d+\.\d+$' }
            latest_app_version: { type: string, pattern: '^\d+\.\d+\.\d+$' }
            support:
              type: object
              additionalProperties: false
              required: [email, phone]
              properties:
                email: { type: [string, 'null'] }
                phone: { type: [string, 'null'] }
            cash_thresholds:
              type: object
              additionalProperties: false
              required: [no_cash, low, moderate, high]
              properties:
                no_cash: { type: integer }
                low: { $ref: '#/components/schemas/AmountRange' }
                moderate: { $ref: '#/components/schemas/AmountRange' }
                high: { $ref: '#/components/schemas/AmountRange' }
            idle_days: { type: integer, minimum: 1 }
            performance_report_max_days: { type: integer, minimum: 1 }
            server_time: { type: string, format: date-time }

    # ----- auth -----
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: { type: string, minLength: 1, maxLength: 100 }
        password: { type: string, minLength: 1, maxLength: 256 }
        device:
          type: object
          properties:
            platform: { type: string, enum: [android, ios] }
            app_version: { type: string, pattern: '^\d+\.\d+\.\d+([+-][0-9A-Za-z.-]+)?$', maxLength: 32 }
            device_name: { type: string, maxLength: 100 }

    User:
      type: object
      additionalProperties: false
      required: [id, username, display_name, email, phone, avatar_url, role]
      properties:
        id: { type: string }
        username: { type: string }
        display_name: { type: string }
        email: { type: [string, 'null'] }
        phone: { type: [string, 'null'] }
        avatar_url: { type: [string, 'null'] }
        role: { type: [string, 'null'] }

    Scope:
      type: object
      additionalProperties: false
      required: [regions, states, atms]
      description: '["All"] = unrestricted for that dimension'
      properties:
        regions: { type: array, items: { type: string } }
        states: { type: array, items: { type: string } }
        atms: { type: array, items: { type: string } }

    LoginResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [access_token, token_type, expires_at, user, scope]
          properties:
            access_token: { type: string, pattern: '^[a-f0-9]{64}$' }
            token_type: { const: Bearer }
            expires_at: { type: string, format: date-time }
            user: { $ref: '#/components/schemas/User' }
            scope: { $ref: '#/components/schemas/Scope' }

    MeResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [user, scope, expires_at]
          properties:
            user: { $ref: '#/components/schemas/User' }
            scope: { $ref: '#/components/schemas/Scope' }
            expires_at: { type: string, format: date-time }

    # ----- reference -----
    RegionsResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: array
          minItems: 1
          items:
            type: object
            additionalProperties: false
            required: [value, label]
            properties:
              value: { type: string }
              label: { type: string }

    FilterKey:
      type: string
      enum: [all, idle, online, offline, closed, supervisor, cash_jam, no_cash, low_cash, moderate_cash, high_cash]
      default: all

    FiltersResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [key, label]
            properties:
              key: { $ref: '#/components/schemas/FilterKey' }
              label: { type: string }

    # ----- dashboard -----
    CountPercentage:
      type: object
      additionalProperties: false
      required: [count, percentage]
      properties:
        count: { type: integer, minimum: 0 }
        percentage: { type: number, minimum: 0, maximum: 100 }

    DashboardResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [region, total, generated_at, status, cash, performance]
          properties:
            region: { type: string }
            total: { type: integer, minimum: 0 }
            generated_at: { type: string, format: date-time }
            status:
              type: object
              additionalProperties: false
              required: [in_service, offline, closed, supervisor]
              properties:
                in_service: { $ref: '#/components/schemas/CountPercentage' }
                offline: { $ref: '#/components/schemas/CountPercentage' }
                closed: { $ref: '#/components/schemas/CountPercentage' }
                supervisor: { $ref: '#/components/schemas/CountPercentage' }
            cash:
              type: object
              additionalProperties: false
              required: [no_cash, low_cash, moderate_cash, high_cash, cash_jam]
              properties:
                no_cash: { $ref: '#/components/schemas/CountPercentage' }
                low_cash: { $ref: '#/components/schemas/CountPercentage' }
                moderate_cash: { $ref: '#/components/schemas/CountPercentage' }
                high_cash: { $ref: '#/components/schemas/CountPercentage' }
                cash_jam: { $ref: '#/components/schemas/CountPercentage' }
            performance:
              type: object
              additionalProperties: false
              required: [uptime, in_progress, downtime]
              description: 'uptime = ACTIVE, in_progress = SUPERVISOR + CLOSE, downtime = OFFLINE (legacy definitions)'
              properties:
                uptime: { type: number, minimum: 0, maximum: 100 }
                in_progress: { type: number, minimum: 0, maximum: 100 }
                downtime: { type: number, minimum: 0, maximum: 100 }

    # ----- terminals -----
    TerminalStatus:
      type: string
      enum: [ACTIVE, OFFLINE, CLOSE, SUPERVISOR, UNKNOWN]

    CashBand:
      type: string
      enum: [no_cash, low, moderate, high, abnormal, unknown]

    Terminal:
      type: object
      additionalProperties: false
      required: [terminal_id, location, status, amount, cash_band, location_type, brand, state, region, sol_id,
                 last_txn_at, card_reader, cash_jam, has_cash_jam, is_idle, is_of_interest]
      properties: &terminalProperties
        terminal_id: { type: string }
        location: { type: [string, 'null'] }
        status: { $ref: '#/components/schemas/TerminalStatus' }
        amount: { type: [integer, 'null'], description: 'Naira' }
        cash_band: { $ref: '#/components/schemas/CashBand' }
        location_type: { type: [string, 'null'] }
        brand: { type: [string, 'null'] }
        state: { type: [string, 'null'] }
        region: { type: [string, 'null'] }
        sol_id: { type: [string, 'null'] }
        last_txn_at: { type: [string, 'null'], format: date-time }
        card_reader: { type: [string, 'null'] }
        cash_jam: { type: [string, 'null'], description: 'raw monitoring text' }
        has_cash_jam: { type: boolean }
        is_idle: { type: boolean }
        is_of_interest: { type: boolean }

    BackedOutTerminal:
      type: object
      additionalProperties: false
      required: [terminal_id, location, status, amount, cash_band, location_type, brand, state, region, sol_id,
                 last_txn_at, card_reader, cash_jam, has_cash_jam, is_idle, is_of_interest, backed_out_duration_seconds]
      properties:
        <<: *terminalProperties
        backed_out_duration_seconds: { type: [integer, 'null'], minimum: 0 }

    TerminalDetail:
      type: object
      additionalProperties: false
      required: [terminal_id, location, status, amount, cash_band, location_type, brand, state, region, sol_id,
                 last_txn_at, card_reader, cash_jam, has_cash_jam, is_idle, is_of_interest, address, branch_code,
                 branch_name, country]
      properties:
        <<: *terminalProperties
        address: { type: [string, 'null'] }
        branch_code: { type: [string, 'null'] }
        branch_name: { type: [string, 'null'] }
        country: { type: [string, 'null'] }

    FacetValues:
      type: array
      items:
        type: object
        additionalProperties: false
        required: [value, count]
        properties:
          value: { type: string }
          count: { type: integer, minimum: 1 }

    TerminalListMeta:
      allOf:
        - $ref: '#/components/schemas/PageMeta'
      unevaluatedProperties: false
      properties:
        page: true
        per_page: true
        total: true
        total_pages: true
        facets:
          type: object
          additionalProperties: false
          required: [state, brand, location_type, region, status]
          properties:
            state: { $ref: '#/components/schemas/FacetValues' }
            brand: { $ref: '#/components/schemas/FacetValues' }
            location_type: { $ref: '#/components/schemas/FacetValues' }
            region: { $ref: '#/components/schemas/FacetValues' }
            status: { $ref: '#/components/schemas/FacetValues' }

    TerminalListResponse:
      type: object
      additionalProperties: false
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: array
          items: { $ref: '#/components/schemas/Terminal' }
        meta: { $ref: '#/components/schemas/TerminalListMeta' }

    BackedOutListResponse:
      type: object
      additionalProperties: false
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: array
          items: { $ref: '#/components/schemas/BackedOutTerminal' }
        meta: { $ref: '#/components/schemas/TerminalListMeta' }

    PerformanceStats:
      type: object
      additionalProperties: false
      required: [samples, uptime, downtime, offline, closed, cash_jam, no_data]
      description: 'Percentages are null when samples = 0 (no_data: true)'
      properties: &performanceProperties
        samples: { type: integer, minimum: 0 }
        uptime: { type: [number, 'null'], minimum: 0, maximum: 100 }
        downtime: { type: [number, 'null'], minimum: 0, maximum: 100 }
        offline: { type: [number, 'null'], minimum: 0, maximum: 100 }
        closed: { type: [number, 'null'], minimum: 0, maximum: 100 }
        cash_jam: { type: [number, 'null'], minimum: 0, maximum: 100 }
        no_data: { type: boolean }

    TerminalDetailResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [terminal, performance_today, as_at]
          properties:
            terminal: { $ref: '#/components/schemas/TerminalDetail' }
            performance_today: { $ref: '#/components/schemas/PerformanceStats' }
            as_at: { type: string, format: date-time }

    # ----- performance -----
    TerminalSummary:
      type: object
      additionalProperties: false
      required: [terminal_id, location, sol_id, region, state, brand]
      properties: &terminalSummaryProperties
        terminal_id: { type: string }
        location: { type: [string, 'null'] }
        sol_id: { type: [string, 'null'] }
        region: { type: [string, 'null'] }
        state: { type: [string, 'null'] }
        brand: { type: [string, 'null'] }

    PerformanceReportResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [terminal, from, to, days, totals]
          properties:
            terminal: { $ref: '#/components/schemas/TerminalSummary' }
            from: { type: string, format: date }
            to: { type: string, format: date }
            days:
              type: array
              items:
                type: object
                additionalProperties: false
                required: [date, samples, uptime, downtime, offline, closed, cash_jam, no_data]
                properties:
                  date: { type: string, format: date }
                  <<: *performanceProperties
            totals: { $ref: '#/components/schemas/PerformanceStats' }

    RealtimeResponse:
      type: object
      additionalProperties: false
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [terminal_id, location, sol_id, region, state, brand, samples, uptime, downtime, offline, closed, cash_jam, no_data]
            properties:
              <<: [*terminalSummaryProperties, *performanceProperties]
        meta:
          allOf:
            - $ref: '#/components/schemas/PageMeta'
          unevaluatedProperties: false
          required: [summary]
          properties:
            page: true
            per_page: true
            total: true
            total_pages: true
            summary:
              type: object
              additionalProperties: false
              required: [date, average_uptime, below_threshold, threshold]
              properties:
                date: { type: string, format: date }
                average_uptime: { type: [number, 'null'], minimum: 0, maximum: 100 }
                below_threshold: { type: integer, minimum: 0 }
                threshold: { type: integer, minimum: 0, maximum: 100 }

    # ----- notifications -----
    AlertType:
      type: string
      enum: [offline, back_in_service, cash_jam, no_cash, low_cash, supervisor, closed, daily_summary]

    QuietHours:
      type: [object, 'null']
      additionalProperties: false
      required: [start, end]
      properties:
        start: { type: string, pattern: '^([01]\d|2[0-3]):[0-5]\d$' }
        end: { type: string, pattern: '^([01]\d|2[0-3]):[0-5]\d$' }

    PreferencesInput:
      type: object
      description: 'Partial update: omitted fields keep their value.'
      properties:
        categories:
          type: object
          propertyNames: { $ref: '#/components/schemas/AlertType' }
          additionalProperties: { type: boolean }
        regions:
          type: array
          minItems: 1
          items: { type: string, maxLength: 300 }
          description: '["All"] = every region in the user''s scope; others must be inside the scope (else 403)'
        quiet_hours: { $ref: '#/components/schemas/QuietHours' }
        critical_bypass_quiet_hours: { type: boolean }

    Preferences:
      type: object
      additionalProperties: false
      required: [categories, regions, quiet_hours, critical_bypass_quiet_hours]
      properties:
        categories:
          type: object
          additionalProperties: false
          required: [offline, back_in_service, cash_jam, no_cash, low_cash, supervisor, closed, daily_summary]
          properties:
            offline: { type: boolean }
            back_in_service: { type: boolean }
            cash_jam: { type: boolean }
            no_cash: { type: boolean }
            low_cash: { type: boolean }
            supervisor: { type: boolean }
            closed: { type: boolean }
            daily_summary: { type: boolean }
        regions: { type: array, items: { type: string } }
        quiet_hours: { $ref: '#/components/schemas/QuietHours' }
        critical_bypass_quiet_hours: { type: boolean }

    DeviceRequest:
      type: object
      required: [token, platform]
      properties:
        token: { type: string, minLength: 16, maxLength: 4000 }
        platform: { type: string, enum: [android, ios] }
        app_version: { type: string, maxLength: 32 }
        preferences: { $ref: '#/components/schemas/PreferencesInput' }

    DeviceResponse:
      type: object
      additionalProperties: false
      required: [success, data]
      properties:
        success: { const: true }
        data:
          type: object
          additionalProperties: false
          required: [platform, app_version, preferences, registered_at, updated_at]
          properties:
            platform: { type: string, enum: [android, ios] }
            app_version: { type: [string, 'null'] }
            preferences: { $ref: '#/components/schemas/Preferences' }
            registered_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }

    NotificationsResponse:
      type: object
      additionalProperties: false
      required: [success, data, meta]
      properties:
        success: { const: true }
        data:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [id, type, title, body, terminal_id, severity, route, sent_at]
            properties:
              id: { type: string }
              type: { $ref: '#/components/schemas/AlertType' }
              title: { type: string }
              body: { type: string }
              terminal_id: { type: [string, 'null'] }
              severity: { type: string, enum: [critical, warning, info] }
              route: { type: string }
              sent_at: { type: string, format: date-time }
        meta: { $ref: '#/components/schemas/PageMeta' }

    # ----- audit -----
    AuditRequest:
      type: object
      required: [action, target_view, module]
      properties:
        action: { type: string, minLength: 1, maxLength: 800 }
        target_view: { type: string, minLength: 1, maxLength: 300 }
        module: { type: string, minLength: 1, maxLength: 100 }
